.task {
    margin: 0;
    padding: 0;
    list-style: none;
}

.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: solid 1px #ddd; 
    padding: 10px;
}

.task__item--hiden {
    display: none;
}

.task__content--done {
    text-decoration: line-through;
}

.task__button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 0;
    border: none;
}

.task__button--toggleDone {
    background-color: green;
    transition: 0.5s;
}

.task__button--toggleDone:hover {
    background-color: hsl(120, 100%, 30%);
}

.task__button--toggleDone:active {
    background-color: hsl(120, 100%, 40%);
}

.task__button--remove {
    background-color: red;
    transition: 0.5s;
}

.task__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}

.task__button--remove:active {
    background-color: hsl(0, 100%, 70%);
}